In [187]:
import pandas as pd
import re
import string
from num2words import num2words
import csv
import numpy as np

In [188]:
df = pd.read_csv('asset_challenge/data.csv', encoding="latin-1")
df.head()

,text,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

In [189]:
df = df[['text']]
df

                                                    text
0      - disaat semua cowok berusaha melacak perhatia...
1      RT USER: USER siapa yang telat ngasih tau elu?...
2      41. Kadang aku berfikir, kenapa aku tetap perc...
3      USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4      USER USER Kaum cebong kapir udah keliatan dong...
...                                                  ...
13164  USER jangan asal ngomong ndasmu. congor lu yg ...
13165                       USER Kasur mana enak kunyuk'
13166  USER Hati hati bisu :( .g\n\nlagi bosan huft \...
13167  USER USER USER USER Bom yang real mudah terdet...
13168  USER Mana situ ngasih(": itu cuma foto ya kuti...

[13169 rows x 1 columns]

In [190]:
df_duplicated = df.loc[[df.duplicated().sum()]]
df_duplicated

                          text
146  USER USER KO GUA KAMPRET'

In [170]:
# melihat baris yang ter duplicate
df[df.duplicated()]

                                                    text
295    #GubernurZamanNow #GusIpulPuti2 #GanjarYasin1 ...
378    #GubernurZamanNow #GusIpulPuti2 #GanjarYasin1 ...
1433   perempuan kaya lo mending mati aja deh, jelek ...
1559   Presiden yang anda tuduh Rezim anti Islam suda...
1565   USER USER USER USER USER USER USER USER USER U...
...                                                  ...
12933  RT USER: USER Heran juga saya, setan iblis pad...
12952  USER USER USER USER USER USER USER USER USER U...
12953  SETUJU SAYA,KLAU AHOK DAPAT GELAR SANTRI KEHOR...
12985  USER ahmad dhani yang terhormat paling babi pa...
13075  *Bravoo Presiden Jokowi !ð???* Presiden Joko W...

[146 rows x 1 columns]

In [171]:
# shape sebelum di drop duplicate
df.shape

(13169, 1)

In [172]:
# drop duplicates
df = df.drop_duplicates()

In [173]:
# shape setelah di drop
df.shape

(13023, 1)

In [175]:
df["text"][183]

'#MukidiKepedean ; Pertanyaan mudah ya..; Dijawab yg keras , tapi Saya minta dijawab yg keras , siapa nama Saya ?'

## merubah menjadi lower text

In [164]:
# merubah kalimat menjadi huruf kecil

def clean_text(text):
  text = text.lower()
  return text

df['text_lower'] = df['text'].apply(lambda x: ' '.join([clean_text(word) for word in x.split()]))
df.drop('text', axis=1, inplace=True)
df

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1236\2714342384.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_lower'] = df['text'].apply(lambda x: ' '.join([clean_text(word) for word in x.split()]))
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1236\2714342384.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('text', axis=1, inplace=True)

                                              text_lower
0      - disaat semua cowok berusaha melacak perhatia...
1      rt user: user siapa yang telat ngasih tau elu?...
2      41. kadang aku berfikir, kenapa aku tetap perc...
3      user user aku itu aku\n\nku tau matamu sipit t...
4      user user kaum cebong kapir udah keliatan dong...
...                                                  ...
13164  user jangan asal ngomong ndasmu. congor lu yg ...
13165                       user kasur mana enak kunyuk'
13166  user hati hati bisu :( .g\n\nlagi bosan huft \...
13167  user user user user bom yang real mudah terdet...
13168  user mana situ ngasih(": itu cuma foto ya kuti...

[13023 rows x 1 columns]

In [140]:
df['text_lower'][1]

"rt user: user siapa yang telat ngasih tau elu?edan sarap gue bergaul dengan cigax jifla calis sama siapa noh licew juga'"

In [141]:
def remove_unnecessary_char(text):
    text = re.sub(r'\\+n', ' ', text)
    text = re.sub(r'\n'," ",text) # Remove every '\n'
    text = re.sub('\w*\d\w*', '', text) #remove number 
    text = re.sub(r'^rt',' ',text) # Remove every retweet symbol
    text = re.sub(r'user',' ',text) # Remove every username
    text = re.sub(r'((www\.[^\s]+)|(https?://[^\s]+)|(http?://[^\s]+))',' ',text) # Remove every URL
    text = re.sub(r'&', 'dan', text) #remove ampersant
    text = re.sub(r'&amp;', 'dan', text) #remove ampersant
    text = re.sub(r'\\x.{2}', ' ', text) # remove emoji
    text = re.sub(r'\+62\d{2,}', '', text) #remove phone number +6282xxxxxxxxx
    text = re.sub('[\+\d{5}\-\d{4}\-\d{4}]', '', text) #remove phone number +628xx-xxxx-xxxx
    text = re.sub(r'%', 'persen', text) #change % to persen
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text) #remove punctuation 
    text = re.sub(r'  +', ' ', text) # Remove extra spaces
    text = text.rstrip().lstrip() #remove rstrip and lstrip
    
    return text




# change number to text with 4 number
df['text_clean'] = df['text_lower'].apply(lambda x: ' '.join([re.sub('(\d{4})', lambda m: num2words(int(m.group()), lang='id'), word) for word in x.split()]))


# implement remove_unnecessary_char function
df['text_clean'] = df['text_lower'].apply(lambda x: remove_unnecessary_char(x))


# drop text lower column
df.drop('text_lower', axis=1, inplace=True)

df

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1236\108963671.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_clean'] = df['text_lower'].apply(lambda x: ' '.join([re.sub('(\d{4})', lambda m: num2words(int(m.group()), lang='id'), word) for word in x.split()]))
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1236\108963671.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_clean'] = df['text_lower'].apply(lambda x: remove_unnecessary_char(x))
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1236\108963671.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('text_lower', axis=1, inplace=True)

                                              text_clean
0      disaat semua cowok berusaha melacak perhatian ...
1      siapa yang telat ngasih tau elu edan sarap gue...
2      kadang aku berfikir kenapa aku tetap percaya p...
3      aku itu aku ku tau matamu sipit tapi diliat da...
4      kaum cebong kapir udah keliatan dongoknya dari...
...                                                  ...
13164     jangan asal ngomong ndasmu congor lu yg anjyng
13165                             kasur mana enak kunyuk
13166                   hati hati bisu g lagi bosan huft
13167  bom yang real mudah terdeteksi bom yang terkub...
13168       mana situ ngasih itu cuma foto ya kutil onta

[13023 rows x 1 columns]

In [142]:
df['text_clean'][1]

'siapa yang telat ngasih tau elu edan sarap gue bergaul dengan cigax jifla calis sama siapa noh licew juga'

In [143]:

# kamusalay function
# def change_from_kamusalay(text):

#     df_kamusalay = pd.read_csv('asset_challenge/new_kamusalay.csv', encoding='latin-1', names=['find', 'replace'])
#     if df_kamusalay.index[df_kamusalay['find'] == text].tolist() != []:
#         find_word_index = df_kamusalay.index[df_kamusalay['find'] == text].tolist()
#         text = df_kamusalay['replace'][find_word_index[0]]
#         return text
#     else:
#         return text

# df['text_clean_kamusalay'] = df['text_clean'].apply(lambda x: ' '.join([change_from_kamusalay(word) for word in x.split()]))



# def change_from_kamusalay(text):
#     array = np.where(df_kamusalay['find'] == text)
#     index = array[0]
#     if index.size > 0:
#         text = df_kamusalay['replace'][array[0][0]]
#     return text

# df['text_clean_kamusalay'] = df['text_clean'].apply(lambda x: ' '.join([change_from_kamusalay(word) for word in x.split()]))
# df





df_kamusalay = pd.read_csv('asset_challenge/new_kamusalay.csv', encoding='latin-1', names=['find', 'replace'])


kamusalay_mapping = dict(zip(df_kamusalay['find'], df_kamusalay['replace'])) # Mapping for kamusalay


def change_from_kamusalay(text): # Cleaning by replacing 'alay' words
    wordlist = text.split()
    text_alay = ' '.join([kamusalay_mapping.get(x,x) for x in wordlist])
#     clean_alay = ' '.join(text_alay)
    return text_alay



df['Tweet'] = df['text_clean'].apply(lambda x: change_from_kamusalay(x))

# drop text clean column
df.drop('text_clean', axis=1, inplace=True)
df

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1236\921553071.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tweet'] = df['text_clean'].apply(lambda x: change_from_kamusalay(x))
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1236\921553071.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('text_clean', axis=1, inplace=True)

                                                   Tweet
0      di saat semua cowok berusaha melacak perhatian...
1      siapa yang telat memberi tau kamu edan sarap g...
2      kadang aku berpikir kenapa aku tetap percaya p...
3      aku itu aku ku tau matamu sipit tapi dilihat d...
4      kaum cebong kafir sudah kelihatan dongoknya da...
...                                                  ...
13164  jangan asal berbicara ndasmu congor kamu yang ...
13165                             kasur mana enak kunyuk
13166                hati hati bisu tidak lagi bosan duh
13167  bom yang real mudah terdeteksi bom yang terkub...
13168      mana situ memberi itu cuma foto ya kutil onta

[13023 rows x 1 columns]

In [336]:
# # convert text with kamus alay

# with open('asset_challenge/new_kamusalay.csv', newline='') as c:
#     fieldnames = ['find', 'replace']
#     reader = csv.DictReader(c, delimiter=',', fieldnames=fieldnames)
#     D = {}
#     for row in reader:
#         D[row['find']] = row['replace']
# #     with open('input.txt', newline='') as infile:
# #         with open('output.txt', 'w') as outfile:
# #             for line in infile:
# #                 tokens = line.split()
# #                 for i, t in enumerate(tokens):
# #                     if t in D:
# #                         tokens[i] = D[t]
# #                 outfile.write(' '.join(tokens)+'\n')

In [337]:
# text = ["PILKADA 2018 DAMAI PELAJAR SMA KEC BILAH HILIR DEKLARASI ANTI HOAX &amp; ",
#        "41 Kadang aku berfikir, kenapa aku tetap percaya pada Tuhan padahal aku selalu jatuh berkali-kali."]

# data = pd.DataFrame(text)
# data


# # change number to word
# def conv_num(match):
#     match=match
#     return num2words(int(match.group()), lang='id')



# def numbers_to_words(text):
#     pattern = re.compile('\d{4}')
#     return re.sub(pattern, conv_num, text)

# # # output_string = [re.sub('(\d+)', lambda m: num2words(m.group()), sentence) for sentence in list_string]
# # # output_string = [re.sub('(\d+)', lambda m: ]



# # # def number_to_string(sentence):
# # #     output_string = re.sub('(\d+)', int(num2words(sentence.group(), lang='id')), sentence) 
# # #     return output_string
    
    
# data = data[0].apply(lambda x: ' '.join([re.sub('(\d+)', lambda m: num2words(int(m.group()), lang='id'), word) for word in x.split()]))
# data

In [338]:
# def clean_text(text):
#   text = re.sub('\w*\d\w*', '', text)                                              #menghilangkan kalimat yang mengandung angka      
#   text = re.sub('[\r\n]', '', text)                                                #menghilangkan karakter tidak bermakna
#   text = re.sub(r'^https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)            #menghilangkan link dalam teks
#   text = re.sub('@', '', text)                                                     #menghilangkan simbol lain dalam teks
#   text = re.sub('[%s]' % re.escape(string.punctuation), '', text)                  #menghilangkan tanda baca                                                  
#   text
#   return text

# df['text_clean'] = df['text_lower'].apply(lambda x: ' '.join([clean_text(word) for word in x.split()]))
# df.drop('text_lower', axis=1, inplace=True)

# df

- menghilangkan &, &amp; , Q&amp;A
- merubah % menjadi persen
- merubah angka menjadi huruf
- merubah kata-kata double menjadi huruf, misalnya kadang2, pagi2 menjadi kadang kadang pagi pagi
-

In [134]:
text = open("asset_challenge/new_kamusalay.csv", "r")
text

In [168]:
text = "PILKADA 2018 DAMAI PELAJAR SMA KEC BILAH HILIR DEKLARASI ANTI HOAX &amp;"
text = re.sub('\w*\d\w*', '', text) #remove number 
print(text)

PILKADA  DAMAI PELAJAR SMA KEC BILAH HILIR DEKLARASI ANTI HOAX &amp;

In [ ]:
df.to_csv("result/data_text_cleaning.csv", sep=',', index=False)

In [376]:
text = "PILKADA 2018 DAMAI PELAJAR SMA KEC BILAH HILIR DEKLARASI ANTI HOAX &amp;"

data = ' '.join([word for word in text.split()])
data

'PILKADA 2018 DAMAI PELAJAR SMA KEC BILAH HILIR DEKLARASI ANTI HOAX &amp;'

In [384]:
text = '0,39'
num2words((text), lang='id')

AttributeError: 'Num2Word_ID' object has no attribute 'str_to_number'

In [153]:
text = '+62823-9111-5459 +6289637850869 +6281294490616\nIg'

text = re.sub(r'\+62\d{2,}', '', text) #remove phone number +6282xxxxxxxxx
text = re.sub('[\+\d{5}\-\d{4}\-\d{4}]', '', text) #remove phone number +628xx-xxxx-xxxx
text

'  \nIg'

In [96]:
df['Tweet'].loc[13166]

"USER Hati hati bisu :( .g\\n\\nlagi bosan huft \\xf0\\x9f\\x98\\xaa'"

In [248]:
text = 'USER Hati hati ?? bisu :( .g\n\\nlagi bosan huft \\xf0\\x9f\\x98\\xaa !!!  \xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3\xf0\x9f\x92\xa6\xf0\x9f\x92\xa6'
text = re.sub('\\+', ' ', text)
# menghilangkan simbol "\\n"
text = re.sub(r'\\n'," ",text)
# text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
text

'USER Hati hati ?? bisu :( .g\n lagi bosan huft \\xf0\\x9f\\x98\\xaa !!!  ð\x9f¤£ð\x9f¤£ð\x9f¤£ð\x9f\x92¦ð\x9f\x92¦'

In [249]:
# menghilangkan simbol enter "\n"
text = re.sub('\n', ' ', text)
text

'USER Hati hati ?? bisu :( .g  lagi bosan huft \\xf0\\x9f\\x98\\xaa !!!  ð\x9f¤£ð\x9f¤£ð\x9f¤£ð\x9f\x92¦ð\x9f\x92¦'

In [251]:
# menghilangkan simbol emoji
text = re.sub('\\x.{2}', ' ', text)
text

'USER Hati hati ?? bisu :( .g  lagi bosan huft \\xf0\\x9f\\x98\\xaa !!!  ð\x9f¤£ð\x9f¤£ð\x9f¤£ð\x9f\x92¦ð\x9f\x92¦'

In [70]:
text = re.sub('  +', ' ', text) # Remove extra spaces
text

'USER Hati hati ?? bisu :( .g lagi bosan huft !!!'

In [73]:
text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  
text

'USER Hati hati  bisu  g\n lagi bosan huft xf0x9fx98xaa '

In [91]:

data = '213131123.def.jhi.klm'
data = re.sub('\w{3,}.?', '', data)
data

''

In [97]:
n = 22

In [98]:
if n%2 == 0:
        if n in range (2,6):
            print("Not Weird")
        if n in range (6, 21):
            print("Weird")
        if n > 20 :
            print("Not Weird")
else :
    print("Weird")

Not Weird

In [100]:
print(a+b)
print(a-b)
print(a*b)

range(1, 20)

In [110]:
n = 3
for n in range(n):
    print(n, end='')

012

In [ ]:
text = input()

re.sub(r'&&', 'and', text)
re.sub(r'||', 'or', text)

In [104]:
text = '  rt Pendukung berarti dia bagian rt dr penista agama tersebut!!! Dukung gerakan ini rt   '
text = text.rstrip().lstrip()
text

'rt Pendukung berarti dia bagian rt dr penista agama tersebut!!! Dukung gerakan ini rt'

In [405]:
text = 'rt Pendukung berarti dia bagian rt dr penista agama tersebut!!! Dukung gerakan ini rt'
text = re.sub(' rt', ' ', text)
text

'rt Pendukung berarti dia bagian  dr penista agama tersebut!!! Dukung gerakan ini '

In [58]:
text = "RT USER: USER siapa yang telat ngasih tau elu?"

text = text.split()
text = ' '.join([x for x in text])
text

'RT USER: USER siapa yang telat ngasih tau elu?'

In [ ]:
import sqlite3

conn = sqlite3.connect('data/binar_data_science.db')